.portfolio__list-item {
  text-align: center;
}

.portfolio__list-item:not(:first-child) {
  margin-top: 136px;
}

@media screen and (max-width: 550px) {

  .portfolio__list-item:not(:first-child) {
    margin-top: 90px;
  }

}
