@keyframes moveright {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.moveright {
  animation: moveright 3s ease;
}

@media screen and (max-width: 1000px) {
  .moveright {
    animation: none;
  }
}
