.image__person {
  width: 940px;
  height: 383px;
  background-image: url(../../../images/image-person.png);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 68px;
  margin-left: 300px;
}

@media screen and (max-width: 1000px) {
  .image__person {
    display: none;
    background-image: none;
  }
}
