.portfolio__container {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 160px;
}

@media screen and (max-width: 550px) {

  .portfolio__container {
    padding-top: 70px;
    padding-bottom: 85px;
  }

}
