.portfolio__list-link {
  display: inline-block;
  margin-top: 18px;

  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.portfolio__list-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s linear;
}

.portfolio__list-link:active {
  color: #2f80ed;
}
