.menu__link {
  color: #828282;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s linear;
}

.menu__link:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  .menu__link {
    margin-top: 68px;
    margin-left: 26px;
    font-size: 34px;
    line-height: 42px;
    transition: none;
    transform: none;
  }

  .menu__link:hover {
    transform: none;
  }
}
