.author {
	margin: 0 auto;
	width: 940px;
	padding-top: 40px;
	width: 940px;
}

@media screen and (max-width: 1200px) {
	.author {
		width: 850px;
	}
}

@media screen and (max-width: 1090px) {
	.author {
		width: 700px;
	}
}

@media screen and (max-width: 860px) {
	.author {
		max-width: 500px;
	}
}
