.popup__closeButton {
  width: 30px;
  height: 30px;
  position: absolute;
  border: none;
  outline: none;
  background: url(../../../images/close-icon.svg) no-repeat center;
  background-size: contain;
  top: -34px;
  right: -35px;
  cursor: pointer;
  transition: .1s ease;
}

.popup__closeButton:hover {
  opacity: .6;
}

@media screen and (max-width: 580px) {

  .popup__closeButton {
    width: 22px;
    top: -45px;
    right: 6px;
  }

}

